body{
    background: #5900ff;
    color: #fff;
}

/* button{
    background: #fff;
    color: #5900ff;
    border: 1px solid #5900ff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
} */